<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/dasajiprr/image/upload/v1686027184/SearchUserApp/logo_dwsntx.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
    <link rel="stylesheet" href="/stylesheets/respond.css" />
    <title>Trang Admin | Trang chủ</title>
  </head>

  <body>
    <header class="header">
      <div class="banner">
        <img
          src="https://res.cloudinary.com/dasajiprr/image/upload/v1686027184/SearchUserApp/logo_dwsntx.png"
          alt=""
          class="banner__logo"
        />
        <div>
          <h1 class="banner__heading">Trang Admin</h1>
          <p class="banner__sub-heading">Quản lý thông tin người dùng</p>
        </div>
      </div>
      <div class="header__wrapper">
        <div class="header__action">
          <a href="/login" class="header__btn-logout">
            <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="container">
        <div class="filter">
          <div class="filter__styled-select">
            <select name="" id="" class="filter__select">
              <option value="list-user" selected>Danh Sách Cá Nhân</option>
              <option value="account-user">Tài Khoản Người Dùng</option>
            </select>
          </div>
          <input
            type="text"
            class="filter__search"
            placeholder="Nhập tên cần tìm..."
          />
          <button class="filter__btn-search btn btn-primary">
            <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
          </button>
          <a href="#!" class="filter__btn-add btn btn-primary"
            ><i class="fa-solid fa-plus"></i> Tạo</a
          >
          <a id="export-btn" class="btn btn-primary"
            ><i class="fa-solid fa-file-export"></i>Export</a
          >
        </div>

        <div class="table__wrapper">
          <div class="table__container">
            <table class="table">
              <thead class="table__head">
                <tr>
                  <th style="text-align: center">STT</th>
                  <th>Tên</th>
                  <th>SDT</th>
                  <th>Ngày sinh</th>
                  <th>Địa chỉ</th>
                  <th style="text-align: center">Sửa</th>
                  <th style="text-align: center">Xoá</th>
                </tr>
                <tr></tr>
              </thead>
              <tbody class="table__body"></tbody>
            </table>
          </div>
          <p class="no-data">Không tìm thấy dữ liệu</p>
          <div style="display: flex; justify-content: center; margin: 40px 0">
            <button
              class="more-btn form__btn-submit btn btn-primary display-none"
            >
              Xem thêm
              <i class="fa-solid fa-angle-down"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <div class="modal">
      <div class="modal__container">
        <div class="modal__wrapper">
          <h3 class="modal__header">
            <img
              src="https://res.cloudinary.com/dasajiprr/image/upload/v1686129490/SearchUserApp/icon-info_r1ruqz.png"
              alt=""
              class="modal__icon-info"
            />
            <p class="modal__heading">Bạn có chắc muốn xoá không ?</p>
          </h3>
          <div class="modal__action">
            <button class="btn modal__btn-cancel">Thoát</button>
            <button class="btn modal__btn-remove">Xoá</button>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay"></div>

    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"
    ></script>
    <script src="/javascripts/adminHome.js"></script>
  </body>
</html>
