.banner {
  justify-content: center;
}

.form {
  height: 100%;
  width: max-content;
  padding-bottom: 4.8rem;
}

.form__group {
  display: flex;
  justify-content: start;
  padding-bottom: 1.6rem;
}

.form__note {
  margin-left: 0 !important;
}

.form__label {
  width: 25rem;
  position: relative;
  font-weight: 700;
}

.form__note {
  margin-left: 1.6rem;
}

.form__input {
  min-width: 55rem;
  padding: 0.8rem 1.6rem;
  border: 0.1rem solid rgba(185, 188, 199, 0.637);
  border-radius: 0.5rem;
  outline: none;
  transition: 0.3s;
}

.form__input:focus {
  transform: translateY(-0.1rem) scale(1.025);
  box-shadow: 0 0.1rem 0.5rem rgba(92, 92, 92, 0.25);
  border-color: transparent;
}

.form__multiple-input-group {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding-bottom: 1.6rem;
}

.form__multiple-input-action {
  display: flex;
  gap: 1.2rem;
}

.form__multiple-input-action button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
}

.form__btn-insert {
  color: #1d8afe;
}

.form__btn-remove {
  color: #fa4d4d;
}

.form__group-radio {
  display: flex;
  gap: 1.6rem;
}

.form__group-radio input {
  width: 1.8rem;
  color: #1d8afe;
}

.modal__container {
  top: 30%;
  transform: scale(0.8);
  width: 40%;
  padding: 0;
  overflow: hidden;
}

.modal__action {
  margin-top: 2.4rem;
  display: flex;
  justify-content: end;
  gap: 1.6rem;
  padding: 3.2rem;
  padding-top: 0;
}

.modal__heading {
  color: #fff;
  color: #fa4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2.4rem 0;
}

.modal__header {
  overflow: hidden;
  text-align: center;
}

.modal__action button {
  color: #fff;
}

.modal__btn-cancel {
  background-color: #b1afaf;
}

.modal__btn-remove {
  background-color: #fa4d4d;
}

.modal__icon-info {
  margin-top: 3.2rem;
  width: 15rem;
}

#export-btn {
  text-decoration: none;
}
